<p id="notice"><%= notice %></p>

<h1 class="part_out">Grandma & Paw Paw's Album</h1>


<%= link_to 'Add New Photo', new_albumtwo_path, class:"btn btn-primary add" %>

<div class="somespace"></div>


  <div>
    <% @albumtwos.each do |albumtwo| %>
      <div class="col-md-6">
        
        <% if albumtwo.avatar.file? %>        
        <a> <%= image_tag albumtwo.avatar, class:"img-responsive photoalbums"%></a>
        <div class="phototitle"><%= albumtwo.title %><% if current_user.id == albumtwo.user.id || current_user.admin%>
        <div class="dropdown2">
  <button class="dropbtn2">Options</button>
  <div class="dropdown-content2">
    <a> <%= link_to 'Edit', edit_albumtwo_path(albumtwo)%> </a>
    <a>  <%= link_to 'Delete', albumtwo, method: :delete, data: { confirm: 'Are you sure?' } %></a>
  </div>
</div>
       <%end%>
       <p class="like_circle2"><%= link_to "", like_albumtwo_path(albumtwo), class:"glyphicon glyphicon-thumbs-up like2"%><a class="count_score2"><%= albumtwo.score %></a></div>
<%end%>
        
      </div>
      <div class="somespace"></div>
    <% end %>
<div class="somemorespace"></div>


