<%= simple_form_for(@forum) do |f| %>
  <%= f.error_notification %>


  <div class="form-group">
    <%= f.input_field :title, placeholder:"Title"%>
  </div>

  <div class="form-group">
    <%= f.input_field :entry, placeholder:"What's on your mind?"%>
  </div>

  <div class="form-group">
    <%= f.select :category, options_for_select([['Social'], ['Shout-out'], ['Event'], ['Part-Out'], ['HELP!']], :include_blank => 'What is your post related to?') %>
  </div>
  

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
