

<h1 class="part_out">Family Forum <%= image_tag "forum.png", alt: "Atlanta Atlanta Genesis Coupe picture", class: "camera" %></h1>

<%= link_to 'Add New Post', new_forum_path, class:"btn btn-primary add" %>
<br>

<% @forums.each do |forum| %>
     <div class="col-md-4">
        <div class="well index-wells">
<% if current_user.id == forum.user.id || current_user.admin%>
        <div class="dropdown">
  <button class="dropbtn">Options</button>
  <div class="dropdown-content">
    <a> <%= link_to 'Edit', edit_forum_path(forum)%> </a>
    <a>  <%= link_to 'Delete', forum, method: :delete, data: { confirm: 'Are you sure?' } %></a>
  </div>
</div>
       <%end%>

       <p class="sell_description text_board"><a class="avatar_forum"> <%= image_tag(forum.user.avatar, class:"avatar_forum") %></a>  <strong><%= forum.user.user_name %> </strong></p>
  
        <h4 class="title_price text_board"><%= "#{forum.title}" %></h4>
     

        <p class="sell_description text_board"><strong><%= forum.category %>:</strong> <%= forum.entry %></p>

        <% if forum.avatar.file? %>        
        <a> <%= image_tag forum.avatar, class:"img-responsive img_user"%></a>
<%end%>


        <a> <%= link_to "Comment (#{forum.comments.count})", forum, class:"com_btn btn btn-primary"%><%=  %></a><p class="like_circle"><%= link_to "", like_forum_path(forum), class:"glyphicon glyphicon-thumbs-up like"%><a class="count_score"><%= forum.score %></a> </p>

       
       <div class="text_board"><%= forum.created_at.strftime("%m/%d/%Y at %I:%m %p") %> </div>

       
      


     
</div>
</div>
   
  <% end %>



