
 <div class="container max">
<br>


<%= link_to 'Back', forums_path, class:"btn btn-primary add" %>

    
        <div class="well index-wells">

        <p class="sell_description text_board"><a class="avatar_forum"> <%= image_tag(@forum.user.avatar, class:"avatar_forum") %></a>  <strong><%= @forum.user.user_name %> </strong></p>
  
        <h4 class="title_price"><%= "#{@forum.title}" %></h4>


     

        <p class="sell_description"><strong><%= @forum.category %>:</strong> <%= @forum.entry %></p>

        <% if @forum.avatar.file? %>
        <a> <%= image_tag @forum.avatar, class:"img-responsive img_user"%></a>
<%end%>



       
       <div><%= @forum.created_at.strftime("%m/%d/%Y at %I:%m %p") %> </div>
</div>

   







<div class="well index-wells max form_over">
  <% @forum.comments.each do |comment| %>
  <% if current_user.id == comment.user.id %>
    
             <a>  <%= link_to '', comment, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-primary delete glyphicon glyphicon-trash" %></a>
       <% end %>
    <div class="sizing">
<p class="hater"> <p class="sell_description text_board"><a class="avatar_forum"> <%= image_tag(comment.user.avatar, class:"avatar_forum")%>  </a><strong><%= comment.user.user_name %>:</strong> <%= comment.comment_entry %></p> 
<% if comment.avatar.file? %>
<a> <%= image_tag comment.avatar, class:"img-responsive img_user"%></a>
<%end%>


      <div class="time"><%= comment.created_at.strftime("%m/%d/%Y at %I:%m %p") %> </div>

      

    
     
   </div>
  <% end %>
  
  

 </div>
<div class="text_area">
  <%= render 'comments/form' %>
</div>
</div>












