
<div id="form-over">
<%= form_for(@comment) do |f| %>
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% @comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


<div class="group">
    <%= f.hidden_field :user_id, value: current_user.id %>
  </div>

  <div class="group text_area">
   
    <%= f.text_area :comment_entry, placeholder:"Write a comment..."%><%= f.button :submit, class:"btn btn-primary created"%><%= f.file_field :avatar, class:"comment_avatar"%>
  </div>



  <div class="group">
  <%=f.hidden_field :forum_id, value: @forum.id %>
  </div>

 

<% end %>
</div>
