


<div class="background container">

<div class="frame">
<h1 class="weekly"> Drummond Family Photos! <%= image_tag "camera.jpg", alt: "Atlanta Atlanta Genesis Coupe picture", class: "camera" %></h1>
</div>

   
   <div class="albums col-md-4">
   <h3> Family Group Photos</h3>
    <%= image_tag "album1.jpg", alt: "album", class: "albumcover" %>
    <a class="viewalbum" href="albumones">View Album</a> 
   </div>

   <div class="albums col-md-4">
   <h3> Grandma & Paw Paw</h3>
    <%= image_tag "album2.jpg", alt: "album", class: "albumcover" %>
    <a class="viewalbum" href="albumtwos">View Album</a> 
   </div>

   <div class="albums col-md-4">
   <h3> Kathy, Gene & Family</h3>
    <%= image_tag "album3.jpg", alt: "album", class: "albumcover" %>
    <a class="viewalbum" href="albumthrees">View Album</a> 
   </div>

   <div class="albums col-md-4">
   <h3> Bob, Pam & Famly</h3>
    <%= image_tag "album4.jpg", alt: "album", class: "albumcover" %>
    <a class="viewalbum" href="albumfours">View Album</a> 
   </div>

   <div class="albums col-md-4">
   <h3> Margie, Lindy & Family</h3>
    <%= image_tag "album5.jpg", alt: "album", class: "albumcover" %>
    <a class="viewalbum" href="albumnines">View Album</a> 
   </div>

   <div class="albums col-md-4">
   <h3> John, Cindy & Family</h3>
    <%= image_tag "album6.jpg", alt: "album", class: "albumcover" %>
    <a class="viewalbum" href="albumtens">View Album</a> 
   </div>

   <div class="albums col-md-4">
   <h3> Cindy, Wayne & Family </h3>
    <%= image_tag "album7.jpg", alt: "album", class: "albumcover" %>
    <a class="viewalbum" href="albumsevens">View Album</a> 
   </div>

   <div class="albums col-md-4">
   <h3> Ancestry Photos</h3>
    <%= image_tag "album8.jpg", alt: "album", class: "albumcover" %>
    <a class="viewalbum" href="albumeights">View Album</a> 
   </div>




</div>




