

<h1 class="weekly"> AGCC Part-Out!</h1>

	<div class="whipped">

	<h3 class="title"> Sell Parts</h3>
	<p class="subb"> What the Hell You Sellin'?! </p>
		<form id="parts_page" action="">
		<ol>
			<li>
				<label class="personal"> Your Name: </label>
				<input type ="text" placeholder="John Doe" required>
			</li>

			<li>
			<label class="personal"> Your Email: </label>
			<input type="email" placeholder="example@gmail.com" required>
			</li>
				
			<li>
			<label class="comment"> Description: </label>
			<textarea Placeholder="What are you Selling?"></textarea>
			</li>
			<form action="upload.php" method="post" enctype="multipart/form-data" class="upload">
    Upload Photo:
    <input type="file" name="fileToUpload" id="filetoupload">
    <input type="submit" value="Upload Image" name="submit">
</form>

			<li>
			<input class="submit" type="submit" value="Submit">
			</li>
		</ol>
		</form>
	</div>

	<article class="partlistone">
			<header class="event">
				<input class="contact_seller" type="submit" value="Contact">
				<h2> Downpipe/02 combo </h2>
				<h3 class="date"> $150 </h3>
				<h4 class="address"> Brand: ISIS  </h4>
			</header>


			<%= image_tag "02.jpg", alt: "Atlanta Atlanta Genesis Coupe picture", class: "img-responsive postimg" %>

			<p class="about"> Selling as pair. Great condition. Only on car for about 5,000 miles </p>

	</article>


<article class="partlisttwo">
			<header class="event">
				<input class="contact_seller" type="submit" value="Contact">
				<h2> BTR Tuned ECU </h2>
				<h3 class="date"> $325 </h3>
				<h4 class="address"> Brand: BTRcc </h4>
			</header>


			<%= image_tag "ecu.jpg", alt: "Atlanta Atlanta Genesis Coupe picture", class: "img-responsive postimg" %>

			<p class="about">BTR tuned ECU 
BK1 2010-12 2.0T
A/T
Key start
Short ram intake 
Cat back exhaust
1:1 throttle 
☆☆☆93 OCTANE ☆☆☆</p>



	</article>

<article class="partlistthree">
			<header class="event">
				<input class="contact_seller" type="submit" value="Contact">
				<h2> Carbon Fiber Hood </h2>
				<h3 class="date"> $350 </h3>
				<h4 class="address"> Brand: VIS </h4>
			</header>


			<%= image_tag "hood.jpg", alt: "Atlanta Atlanta Genesis Coupe picture", class: "img-responsive postimg" %>

			<p class="about">This price is at first come first serve.
Hood is in perfect condition. </p>



	</article>

<article class="partlistfive">
			<header class="event">
				<input class="contact_seller" type="submit" value="Contact">
				<h2> Cat Back Exhaust & Mishimoto Intercooler </h2>
				<h3 class="date"> $550 </h3>
				<h4 class="address"> Turbo XS & Mishimoto </h4>
			</header>


			<%= image_tag "cat.jpg", alt: "Atlanta Atlanta Genesis Coupe picture", class: "img-responsive postimg" %>

			<%= image_tag "cooler.jpg", alt: "Atlanta Atlanta Genesis Coupe picture", class: "img-responsive postimg" %>

			<p class="about"> For BK1 2.0t Manual. Price is OBO </p>


	</article>

<article class="partlistsix">
			<header class="event">
				<input class="contact_seller" type="submit" value="Contact">
				<h2> Bk1 Cylinder Head </h2>
				<h3 class="date"> $450 </h3>
				<h4 class="address"> Brand: OEM </h4>
			</header>


			<%= image_tag "engine.jpg", alt: "Atlanta Atlanta Genesis Coupe picture", class: "img-responsive postimg" %>

			<p class="about">selling a bk1 cylinder head completely stock. everything is in working order. buyer pays shipping. </p>

	</article>









<section class="connect">
	<h3> Get Connected with the Group! </h3>

	<a href="https://www.facebook.com/groups/AtlantaGenesisCoupeClub/" target="_blank" title="Join Our Facebook Group!"><img src="images/facebook.png"></a>

	<a href="https://www.instagram.com/atlanta.genesis.coupe.club/" target="blank" title="Join Our Instagram Group!"><img src="images/instagram.png"></a>
</section>

</div> <!-- end of wrapper -->
