

<h1 class="part_out">Events <%= image_tag "calendar.png", alt: "Atlanta Atlanta Genesis Coupe picture", class: "camera" %></h1>
<%= link_to 'New Event', new_event_path, class:"btn btn-primary add"%>
<br>
<br>



    <% @events.each do |event| %>
      <div class="col-md-4 text_board">
        <div class="well index-wells">
        <% if current_user.id == event.user.id || current_user.admin%>
        <div class="dropdown">
  <button class="dropbtn">Options</button>
  <div class="dropdown-content">
    <a> <%= link_to 'Show', event%></a>
    <a> <%= link_to 'Edit', edit_event_path(event)%> </a>
    <a>  <%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></a>
  </div>
</div>
      <%end%>
       
        <h4 class="title_price"><%= "#{event.title}"%></h4>

        <p class="sell_description text_board"><a class="avatar_forum"> <%= image_tag(event.user.avatar, class:"avatar_forum") %></a>  <strong><%= event.user.user_name %> </strong></p>
        <p><strong>When:</strong> <%="#{event.when}"%> </p>
         <% if event.avatar.file? %> 
        <a> <%= image_tag event.avatar, class:"img-responsive img_user img_event"%></a>
        <%end%>
        <p class="sell_description"><strong>Description:</strong> <%= event.description %></p>

        <!-- <div class="btn btn-primary rsvp"><strong> R S V P </strong></div> -->

   

       
</div>
</div>
   

      
      </tr>
    <% end %>
  </tbody>
</table>

<br>


