<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @event.title %>
</p>

<p>
  <strong>When:</strong>
  <%= @event.when %>
</p>

<p>
  <strong>Where:</strong>
  <%= @event.where %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<%= link_to 'Edit', edit_event_path(@event), class:"btn btn-primary add" %> |
<%= link_to 'Back', events_path, class:"btn btn-primary add" %>
