<div class="contact_us" align="center">
<div class="dna">
  <h3>Genealogy</h3>
  <h5> The History of the Drummond Family </h5>
</div>
<div class="container">
  <%= simple_form_for @contact, :html => {:class => 'form-horizontal' } do |f| %>

    <%= f.input_field :name, :required => true, placeholder:"Name", class: "form-control" %>
    <br>
    <%= f.input_field :email, :required => true, placeholder:"Email", class: "form-control" %>
    <br>
    <%= f.input_field :message, :as => :text, :required => true, placeholder:"Message", class: "form-control" %>
    <br>
    <div class= "hidden">
      <%= f.input :nickname, :hint => 'Leave this field blank!' %>
    </div>
    <div>
      </br>
      <%= f.button :submit, 'Send message', :class=> "btn btn-primary" %>
      
      </div>
    </div>
  <% end %>
</div>
