<p id="notice"><%= notice %></p>
<h1 class="part_out">Bob, Pam & Famly</h1>


<%= link_to 'Add New Photo', new_albumfour_path, class:"btn btn-primary add" %>

<div class="somespace"></div>


  <div>
    <% @albumfours.each do |albumfour| %>
      <div class="col-md-6">
        
        <% if albumfour.avatar.file? %> 
        <div class="album_top">
        <p class="sell_description text_board"><a class="avatar_forum"> <%= image_tag(albumfour.user.avatar, class:"avatar_album") %></a>  <strong><%= albumfour.user.user_name %> </strong></p>      
        </div>       
        <a> <%= image_tag albumfour.avatar, class:"img-responsive photoalbums"%></a>
        <div class="phototitle"><%= albumfour.title %><% if current_user.id == albumfour.user.id || current_user.admin%>
        <div class="dropdown2">
  <button class="dropbtn2">Options</button>
  <div class="dropdown-content2">
    <a> <%= link_to 'Edit', edit_albumfour_path(albumfour)%> </a>
    <a>  <%= link_to 'Delete', albumfour, method: :delete, data: { confirm: 'Are you sure?' } %></a>
  </div>
</div>
       <%end%>
       <p class="like_circle2"><%= link_to "", like_albumfour_path(albumfour), class:"glyphicon glyphicon-thumbs-up like2"%><a class="count_score2"><%= albumfour.score %></a></div>
<%end%>
        
      </div>
      <div class="somespace"></div>
    <% end %>
<div class="somemorespace"></div>


