<p id="notice"><%= notice %></p>
<h1 class="part_out">Margie, Lindy & Family</h1>


<%= link_to 'Add New Photo', new_albumnine_path, class:"btn btn-primary add" %>

<div class="somespace"></div>


  <div>
    <% @albumnines.each do |albumnine| %>
      <div class="col-md-6">
        
        <% if albumnine.avatar.file? %>        
        <a> <%= image_tag albumnine.avatar, class:"img-responsive photoalbums"%></a>
        <div class="phototitle"><%= albumnine.title %><% if current_user.id == albumnine.user.id %>
        <div class="dropdown2">
  <button class="dropbtn2">Options</button>
  <div class="dropdown-content2">
    <a> <%= link_to 'Edit', edit_albumnine_path(albumnine)%> </a>
    <a>  <%= link_to 'Delete', albumnine, method: :delete, data: { confirm: 'Are you sure?' } %></a>
  </div>
</div>
       <%end%>
       <p class="like_circle2"><%= link_to "", like_albumnine_path(albumnine), class:"glyphicon glyphicon-thumbs-up like2"%><a class="count_score2"><%= albumnine.score %></a></div>
<%end%>
        
      </div>
      <div class="somespace"></div>
    <% end %>
<div class="somemorespace"></div>

