
<h1 class="part_out">Part-Out</h1>

<%= link_to 'Add a New Listing', new_sell_path, class:"btn btn-primary add"%>


<br>


    <% @sells.each do |sell| %>
     <div class="col-md-4 text_board">
        <div class="well index-wells">
    <% if current_user.id == sell.user.id %>
        <div class="dropdown">
  <button class="dropbtn">Options</button>
  <div class="dropdown-content">
    <a> <%= link_to 'Edit', edit_sell_path(sell)%> </a>
    <a>  <%= link_to 'Delete', sell, method: :delete, data: { confirm: 'Are you sure?' } %></a>
  </div>
</div>
       <%end%>
        <h4 class="title_price"><%= "#{sell.title} || $#{sell.price}"%></h4>
        <!-- <p><strong>Description</strong> <%= sell.description %></p>


 -->    <p class="sell_description">  <strong>Seller: <%= sell.user.user_name %> </strong></p>
        <p class="sell_description"><strong>Description:</strong> <%= sell.description %></p>
<% if sell.avatar.file? %>        
        <a> <%= image_tag sell.avatar, class:"img-responsive img_user"%></a>
<%end%>

        <a> <%= link_to "Comment (#{sell.comments.count.})", sell, class:"com_btn btn btn-primary"%></a>

        <%= image_tag "paypal.gif", alt: "paypal logo", class: "paypal img-responsive" %>

       <div><%= sell.created_at.strftime("%m/%d/%Y at %I:%m %p") %> </div>
</div>
</div>
   
  <% end %>

