
<h1 class="part_out">Family Giveaway <%= image_tag "giveaway.png", alt: "Atlanta Atlanta Genesis Coupe picture", class: "camera" %></h1>

<%= link_to 'Add a New Item', new_sell_path, class:"btn btn-primary add"%>


<br>


    <% @sells.each do |sell| %>
     <div class="col-md-4">
        <div class="well index-wells">
    <% if current_user.id == sell.user.id || current_user.admin%>
        <div class="dropdown">
  <button class="dropbtn">Options</button>
  <div class="dropdown-content">
    <a> <%= link_to 'Edit', edit_sell_path(sell)%> </a>
    <a>  <%= link_to 'Delete', sell, method: :delete, data: { confirm: 'Are you sure?' } %></a>
  </div>
</div>
       <%end%>

       <% if sell.price == 0 || sell.price.blank?%>
       <h4 class="title_price text_board"><%= "#{sell.title} || Free!"%></h4>
       <%else%>
        <h4 class="title_price text_board"><%= "#{sell.title} || $#{sell.price}"%></h4>
        <!-- <p><strong>Description</strong> <%= sell.description %></p>--> 

        <%end%>
           <p class="sell_description text_board"><a class="avatar_forum"> <%= image_tag(sell.user.avatar, class:"avatar_forum") %></a>  <strong><%= sell.user.user_name %> </strong></p>
        <% if sell.description.blank?%>

        <%else%>
        <p class="sell_description text_board"><strong>Description:</strong> <%= sell.description %></p>
        <%end%>
<% if sell.avatar.file? %>        
        <a> <%= image_tag sell.avatar, class:"img-responsive img_user"%></a>
<%end%>

        <a> <%= link_to "Comment (#{sell.comment_sells.count})", sell, class:"com_btn btn btn-primary"%><%=  %></a><p class="like_circle"><%= link_to "", like_sell_path(sell), class:"glyphicon glyphicon-thumbs-up like"%><a class="count_score"><%= sell.score %></a> </p>

       <div class="text_board"><%= sell.created_at.strftime("%m/%d/%Y at %I:%m %p") %> </div>
</div>
</div>
   
  <% end %>

