


<div class="container max">
   <br />

  <%= link_to 'Back', sells_path, class:"btn btn-primary add"%>


        <div class="well index-wells">
       
       <% if @sell.price == 0 || @sell.price.blank?%>
       <h4 class="title_price text_board"><%= "#{@sell.title} || Free!"%></h4>
       <%else%>
        <h4 class="title_price text_board"><%= "#{@sell.title} || $#{@sell.price}"%></h4>
        

        <%end%>

        <% if @sell.description.blank?%>

        <%else%>
        <p class="sell_description"><strong>Description:</strong> <%= @sell.description %></p>
        <%end%>
        <% if @sell.avatar.file? %> 
        <a> <%= image_tag @sell.avatar, class:"img-responsive img_user"%></a>
       <%end%>
        </div>









  </div>

  <div class="well index-wells max form_over">
  <% @sell.comment_sells.each do |comment_sell| %>
  <% if current_user.id == comment_sell.user.id || current_user.admin%>
    
             <a>  <%= link_to '', comment_sell, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-primary delete glyphicon glyphicon-trash" %></a>
       <% end %>
    <div class="sizing">
<p class="hater"> <p class="sell_description text_board"><a class="avatar_forum"> <%= image_tag(comment_sell.user.avatar, class:"avatar_forum")%>  </a><strong><%= comment_sell.user.user_name %>:</strong> <%= comment_sell.comment_entry %></p> 
<% if comment_sell.avatar.file? %>
<a> <%= image_tag comment_sell.avatar, class:"img-responsive img_user"%></a>
<%end%>


      <div class="time"><%= comment_sell.created_at.strftime("%m/%d/%Y at %I:%m %p") %> </div>

      

    
     
   </div>
  <% end %>
  
  

 </div>
<div class="text_area">
  <%= render 'comment_sells/form' %>
</div>
</div>




