<!DOCTYPE html>
<html lang="en">
<head>
  <title>Agcc</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
 <%= javascript_include_tag :defaults %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
 
  <%= csrf_meta_tags %>
</head>
<body>

<!-- <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.6&appId=1539738719666281";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script> -->


	<nav>
	<ul>
	<li> <%= link_to "Home", root_path %></li>
	<li> <%= link_to "Forum", forums_path %></li>
	<li> <%= link_to "Events", events_path %></li>
	<li> <%= link_to "Shout-Out", shoutouts_path %></li>
	<li> <%= link_to "Part-Out", sells_path %></li>
	<li> <%= link_to "Contact", contacts_path %></li>

	<li class="dropdown1"><% if user_signed_in? %>


    <a href="javascript:void(0)" class="dropbtn1" onclick="myFunction()"> <strong><%=current_user.user_name%></strong> </a>
    <div class="dropdown-content1" id="myDropdown">
      <a><%= link_to 'Edit Profile',edit_user_registration_path %></a>
      <a><%= link_to "Logout", destroy_user_session_path, :method => :delete %></a>
    </div>
<% if current_user.avatar.file? %>
	  <li class="round-image-50">
	  <%= image_tag(current_user.avatar.url(:thumb)) %></li>
<%end%>

		<% else %>
 	
  			<%= link_to "Login", new_user_session_path  %>  
  			<%= link_to "Logout", destroy_user_session_path, :method => :delete %>
 
	<% end %>
	</li>
	
	</ul>
	</nav>

	<header class="banner img-responsive">
	<h1><strong>Atlanta Genesis Coupe Club </strong></h1>
	</header>

	<div class="alert_notice">
	<p id="notice" class="notice"><%= notice %></p>
       <p id="alert"class="alert"><%= alert %></p>
    </div>
<%= yield %>


<section class="connect">
	<h3> Get Connected with the Group! </h3>

	<%= link_to image_tag("facebook.png"), "https://www.facebook.com/groups/AtlantaGenesisCoupeClub/" %>

	<%= link_to image_tag("instagram.png"), "https://www.instagram.com/atlanta.genesis.coupe.club/" %>
</section>


<div id="footer">
	<footer>
		<p> &copy; 2016 Atlanta Genesis Coupe Club </p>
	</footer>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	
</body>
</html>
